@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

:root {
    --chuton-black: #192823;
    --chuton-red: #DD1E2F;
    --chuton-green: #218559;
    --chuton-yellow: #EBB035;
    --chuton-white: #D0C6B1;
    --chuton-grey: slategrey;
    --chuton-darkgrey: darkslategrey;
}

html, body, #content {
    overflow-x:hidden; 
    overflow-y:hidden;
} 

body{
    text-align: center;
    font-family: "Arvo", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--chuton-black);
    margin: 0px;
    padding: 0px;    
}

#content{
    width: 100vw;
    margin: 0 auto;
    animation: show;
    animation-duration: 2s;
    display: none;
}

#header{    
    height: 13vh;
}

#display{    
    height: 54vh;
}

#message{    
    height: 5.5vh;
    line-height: 2.8vh;
    padding: .3vh;
    text-overflow: none;
    font-weight: normal;
    font-size:1.8vh;    
    color: var(--chuton-white);
    opacity: 0;
    filter:alpha(opacity=0);
}

#message #practice{
    display: none;
}

#keys{    
    max-height: 20vh;
    margin:0;
    padding: 0;    
}

.green{
    color: var(--chuton-green)
}

.red{
    color: var(--chuton-red);
}

.yellow{
    color: var(--chuton-yellow);
}

a{    
    text-decoration: none;
    color: var(--chuton-green);
}

h1{
    color: var(--chuton-white);
    padding: 0px;
    margin: 0px;   
    font-size: 6vh;
    letter-spacing: -.5vh;
}
h1 .o{
    color:var(--chuton-green);
}

#guessInput{
    opacity:0;
    filter:alpha(opacity=0);
    position: absolute;
    top:0;
    left:50%;
    width: 0x;
    height: 0px;
}

#keys .key{
    display:inline-block;                    
    padding: .3vh;
    margin: 0 .15vh .25vh .15vh;
    width: 4.6vh;            
    border-radius: 1vh;
    text-align: center;
    font-size: 3vh;
    height: 4vh;
    line-height: 4.5vh;            
    background-color: var(--chuton-grey);
    color:black;
    cursor: pointer;
}

#keys .key.enter{
    width: 10vh;
}

#keys .key.key.backspace{
    width: 6vh;
}

#keys .key.enter,
#keys .key.backspace{
    text-transform: none;
    background-color: var(--chuton-darkgrey);    
}

#keys .key.V{
    background-color: var(--chuton-green) !important;
}

#keys .key.X{
    background-color: var(--chuton-red) !important;
}

#keys .key.P{
    background-color: var(--chuton-yellow) !important;
}

.cell{
    display:inline-block;                
    padding: 0;
    margin: .5vh;
    width: 9vh;      
    height: 8vh;          
    line-height: 8vh;
    border-radius: 1vh;
    text-align: center;
    font-size: 6vh;
    background-color: var(--chuton-white);
    color:black;
}

.disabled{
    opacity:.5;
    filter:alpha(opacity.5)
}

@keyframes aX {
    from {
        background-color: var(--chuton-white);
    }
    to {
        background-color: var(--chuton-red);                    
    }
}                        
.X {
    animation-name: aX;
    animation-duration: 1s;  
    background-color: var(--chuton-red);
}

@keyframes aP {
    from {
        background-color: var(--chuton-white);                    
    }
    to {
        background-color: var(--chuton-yellow);                    
    }
}
.P {
    animation-name: aP;
    animation-duration: 1s;
    background-color: var(--chuton-yellow);
}

@keyframes aV {
    from {
        background-color: var(--chuton-white);
    }
    to {
        background-color: var(--chuton-green);                    
    }
}
.V{
    animation-name: aV;
    animation-duration: 1s;
    background-color: var(--chuton-green);                                
}

@keyframes hide {
    from {
        opacity: 1;
        filter:alpha(opacity=1);                             
    }
    to {
        opacity: 0;
        filter:alpha(opacity=0);         
    }
}   
.hidden{
    animation-name: hide;
    animation-duration: .51s;
}

@keyframes show {
    from {
        opacity: 0;
        filter:alpha(opacity=0);                             
    }
    to {
        opacity: 1;
        filter:alpha(opacity=1);         
    }
}   
.visible{
    animation-name: show;
    animation-duration: .51s;
}

#help{
    display:none;
}

p .key{
    font-size: 0.8em;
    height: 0.8em;
    line-height: 0.9em;
    width: 0.8em;
    border-radius: .4em;
    text-align: center;
    padding: .2em;
    color: black !important;    
}

p{
    text-transform: none;
    font-weight: normal;
    text-align: left;
    letter-spacing: 0.1em;    
}

#topBar div{
    display:inline;            
    color: var(--chuton-white);
    font-weight: normal;
    text-transform: none;    
}

.button{
    margin: 0 .5vh 0 .5vh;
    font-size: 2vh;    
    padding: .4vh;
    display: inline;
    border: 1px solid var(--chuton-darkgrey);
    border-radius: 1vh; 
    cursor: pointer;  
    user-select: none; 
}

.button:hover{
    background-color: darkslategray;
}

.left{
    float: left;
}

.right{
    float: right;
}

#score{
    display:none;
}

ul.scores{
    margin: 0px;
    padding: 0px;
}
ul.scores > li{
    display: inline-block;    
    width: 12%;
    height: 20vh;    
}

ul.scores > li > div.statsbar{
    display: block;
    height: 100%;
    width: 100%;
    bottom: 0px;
    background: var(--chuton-green);    
}

ul.scores > li > #score-lost{
    background: var(--chuton-red) !important;    
}

ul.scores > li > div.statsbar > div.bar{
    background:black;        
    height: 0%;
    width: 100%;
    display: block;
    margin:0px;
    padding:0px;
}

ul.scores > li > div.statsbar > div.perc{
    font-size:0.75em;  
    overflow: hidden;  
}

ul.scores > li > div.statslabel{
    align-self: flex-end;
}

#pratice{
    display: none;
}

.answer{
    font-weight: bold;
    color: var(--chuton-red);
    text-transform: uppercase;
    letter-spacing: .15em;
}

.by{
    font-size: 0.75em;
}

#share{
    margin-left: 2em;
}